*.swp
*.swo
*.o
*.a
*.dSYM
*.so
*.dylib
*.pyc
*~
/config.*
/aclocal.m4
/autom4te.cache/
/makefile.inc
/bin/
/c_api/bin/
/c_api/gpu/bin/
/tests/test
/tests/gtest/

# for C/C++
build
build_doc
/output
.idea
*.iml
.sln
*.swp
.DS_Store
.gradle
third_module
.tmp
*.tmp
.vscode
cmake-build-debug
cmake-build-release

# for python
*.py[cod]
*.egg
*.egg-info
dist

# for Windows
Thumbs.db
ehthumbs.db

